/// Text Truncate
///
/// Requires inline-block or block for proper styling
/// @example
/// .element {
///   @include text-truncate();
/// }
/// @group Typography

@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}